*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --ff-primary: 'Nunito Sans', sans-serif;
    --ff-secondary: 'Crimson Text', serif;
    --ff-third: 'Padauk', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-white: #fff;
    --clr-black: #000000d2;
    --clr-light-gray: #E7E6E1;
    --clr-light: #F7F6E7;
    --clr-dark: #242e30;
    --clr-accent: #F2A154;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
        0.125em 0.125em 0.25em rgba(0,0,0,0.15);
    
    
}

/* bigger text for bigger display */
@media (min-width: 600px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* general properties */
body {
    background: var(--clr-white);
    color: var(--clr-black);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    min-width: 300px;
}

section{
    padding: 5em 3em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: bold; }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn {
    border-radius: 10px;
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    
}

.btn:hover {
    transform: scale(1.2);
}

/* Typgography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

/* Make Jai An to be always displayed on its own line */
.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);

}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-third);
    margin-bottom: 1em;
}

/* header */
/* nav {
    display: none;
} */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-white);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
    text-decoration: underline;
}

.hamburger {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    display: block;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
}

/* header */
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto; /* content is centered */
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/ 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

.my-services {
    background-color: var(--clr-black);
    background-image: linear-gradient(rgba(0, 0, 0, 0.753),rgba(0, 0, 0, 0.5)) , url(../img/bg-img-coding.jpg);
    background-size: cover;
    /* background-blend-mode:multiply; */
    color: var(--clr-white);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

/* horizontal line after section__title */
.section__title--services::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-white);
    opacity: 0.5;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
    }

    .service + .service {
        margin-left: 2em;
    }

    .service {
        max-width: 33%;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    /* padding-bottom: 0; */
}

.about-me__img {
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--bs);
    position: relative;
    object-fit: cover;
    /* object-position: top; */
    width: 350px;
    height: 350px;
    overflow: hidden;
}

@media (min-width: 800px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
            
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-area: subtitle;
    }

    .section__subtitle--about {
        grid-column: 1/ -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 4em);
        padding-left: 2em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
        margin-top: 15%;
        width: 100%;
        height: auto;
    }
}

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: bold;
    margin-bottom: center;
}

.portfolio {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* .portfolio_item:hover {
    background-color: var(--clr-accent);
} */

.portfolio-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    /* box-shadow: var(--bs); */
    position: relative;
    object-fit: cover;
    /* object-position: top; */
    width: 200px;
    height: 200px;
    overflow: hidden;

    transition: 
        transform 200ms cubic-bezier(.1, 0, .1, 1),
        opacity 250ms linear;
}



.portfolio-img:hover {
    transform: scale(1.2);
    opacity: .5;
}

/* Footer */
.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .6;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}